<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Flixtor</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Flixtor Deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flixtor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.myspa.flixtor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>URL identifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.myspa.flixtor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>URL scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tagmanager.c.com.myspa.flixtor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.326878886038-9pm48nq0rniilcovitacrek2nf2488c5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập camera nhé !</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập FaceID để đăng nhập nhé!</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập vị trí để có thể gợi ý cho bạn địa điểm làm đẹp nhé !</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập vị trí để có thể gợi ý cho bạn địa điểm làm đẹp nhé !</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập microphone nhé</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập microphone nhé !</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập thư viện để có thể cập nhật hình ảnh đại diện nhé!</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Cho phép 'SoundWave' truy cập microphone nhé !</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
